<div style="text-align: center; font-size: 25px;">
    <a href="http://www.milosjankovic.com" target="_blank">Милош Јанковић</a> 2016 v0.1
</div>
<div>
    <ul id="added_sections" class="treeview">
        <li>Покривене области у целости
            <ul>
                <li>Oснове безбедности саобраћаја
                    <ul>
                        <li>Oсновне одредбе и основна начела безбедности саобраћаја на путевима</li>
                        <li>Значење израза који се користе у прописима о безбедности саобраћаја</li>
                    </ul>
                </li>
                <li>Возач
                    <ul>
                        <li>Психофизички услови за управљање возилом који морају испуњавати возачи и начин утврђивања испуњености тих услова у саобраћају на путу</li>
                    </ul>
                </li>
                <li>Пут
                    <ul>
                        <li>Појам, значај пута и врсте путева</li>
                        <li>Техничко регулисање саобраћаја (опште одредбе, пешачка зона, зона успореног саобраћаја, зона „30”, зона школе, заштита животне средине, техничка средства за успоравање саобраћаја и др.)</li>
                    </ul>
                </li>
                <li>Возило и технички услови које морају да испуне моторна и прикључна возила у саобраћају на путу
                    <ul>
                        <li>Основни склопови и уређаји возила, прописани технички услови и њихов утицај на безбедност саобраћаја на путу, значај и утицај техничке исправности возила на безбедно одвијање саобраћаја (уређај за управљање, уређај за заустављање, уређаји за осветљавање и давање светлосних знакова, уређаји који омогућавају нормалну видљивост, уређаји за спајање вучног и прикључног возила, пнеуматици, тахограф и остали уређаји) - 2</li>
                    </ul>
                </li>
            </ul>
    </ul>
</div>

<button id="back_button">Назад</button>
